/**
 * Simple css page for module 01.
 * 
 * Use of stylesheet is Optional.
 */



/* SVG Elements */
svg
{
	font-size: 6.4em;
	margin: 0.1em 0.4em 0.2em 1em;
}

.svgBackground
{
	fill:#FAFAFA;
}

.svgVisual
{
	fill: #88AADD;
	stroke: #4488AA;
	stroke-width: 2px;
	stroke-opacity: 0.8;

	/* Supporting previous old browsers. */
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;

	transition: all 0.2s ease-out;
}

.svgVisual:hover
{
	fill: #99BBEE;
	stroke: #66AACC;
	stroke-opacity: 0.8;
}

.svgAxis
{
	stroke: #224686;
	stroke-width: 2px;
	stroke-opacity: 0.16;
}

.svgLine, .svgLine:hover
{
	stroke-width: 3px;
	fill:none;
}



/* Table */
table
{
	font-family: helvetica, sans-serif;
	font-weight: 200;
	font-size: 2.4em;
	margin: 0.5em 0.4em 0.1em 2.4em;
}

th, td
{
	padding: 0.2em 0.4em;
	border-bottom: 1px solid #BBB;
}